@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
:root {
  --bg--color: #2f363e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg--color);
}
.container {
  position: relative;
}
.clock {
  position: relative;
  width: 450px;
  height: 450px;
  background-color: var(--bg--color);
  border-radius: 50%;
}
